h1{
	text-align: center;
	margin-top: 200px;
	font-size: 56px;
}

#container{
	display: flex;
	flex-direction: column;
	width: 80%;
	margin: 0 auto;
}

@media (min-width: 1025px) {

	.mainContent{
	display: flex;
	flex-direction: row;
	}

	#results{
	width: 45%;
	margin-left: auto;
	}

	#map{
	height: 500px;
	width: 45%;
	}
}

}
@media (min-width: 375px) and (max-width: 667px) {
	.mainContent{
		display: flex;
		flex-direction: column;
	}
	#results, #map{
		width: 100%;
		margin: 0 auto;

	}
}
#map{
	height: 300px;
	margin-bottom: 15px;
}
#search, #buttons{
	text-align: center;
}

.searchbar{
	margin-top: 15px;
}
.slogan{
	text-align: center;
}
#copyright{
	text-align: center;
}

#nav{
	height: 50px;
	margin-top: 10px;
	width: 100%;
	margin-bottom: 20px;
}



ul{
	height: 500px;
	overflow: auto;
	padding-left: 0;
	margin-top: 0;
}

#results ul li:hover{
	background-color: #e8eaed;
}

.itemResult{
	list-style: none;
	border: solid 1px;
	padding: 10px;
}

.info, .rating{
	display: inline-block;
}

.venueName{
	font-weight: bold;
}
.location{
	font-weight: 300;
	font-size: 12px;
}
.rating{
	float: right;
}

.score{
	border: solid black 1px;
	border-radius: 50%;
	text-align: center;
	padding: 5px;
	width: 20px;

}
.js-hide-display{
	display: none;
}

